.portItem{
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.portImgDiv{
  flex: 1;
  /* margin: 0 60px 0 0; */
  display: flex;
  justify-content: center;
}

.portImg{
  max-width: 70%;
  border-radius: 5px;
}

.demoIcon{
  font-size: 22px;
  margin-right: 20px;
}


/* --- */

.portItem2{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.portFigure{
  overflow: hidden;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  max-width: 100%;
  margin: 0;
}

.portImg2{
  transform: scale(1);
  transition: .25s ease-in-out;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.portFigure:hover .portImg2{
  transform: scale(1.1);
}

.portFigcaption{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0rem 3rem;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

.portFigure:hover .portFigcaption{
  opacity: 1;
}

.portDesc{
  color: #fff;
  margin-bottom: 1.8rem;
  line-height: 1.125;
}

.overlay{
  background-color: #141c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .45s ease-in-out;
}

.portFigure:hover .overlay{
  opacity: 1;
}