:root{
  --light-color: #FCDAB7;
  --dark-color: #1D2D50;
  --body-fontSize: 18px;
  --sectionTitle-fontSize: 48px;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,  Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,li{
    list-style: none;
}

li{
  display: inline-block;
  margin: 0 20px 0 20px;
}

header{
  display: flex;
  flex-direction: row;
}

p{
  font-size: var(--body-fontSize);
}

h1{
  font-size: 96px;
  margin: 0;
}

h3{
  font-size: 36px;
}

h2{
  font-size: var(--sectionTitle-fontSize);
}