.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: var(--border-radius);
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.indexNav {
  padding-top: 30px;
  font-weight: 300;
  text-align: center;
}

.indexUl,
.indexLi {
  list-style: none;
  padding: 0;
}

.indexLi {
  display: inline-block;
  margin: 0 20px 0 20px;
  position: relative;
}

.indexLi:after {
  width: 0;
  height: 1px;
  background-color: var(--light-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  transition: width 0.2s ease-in-out;
}

.indexLi:hover:after {
  width: 100%;
}

.indexHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}

.socialGroup {
  display: flex;
  flex-direction: column;
  margin-right: 74px;
  justify-items: center;
  justify-content: center;
}

.socialIcon {
  font-size: 22px;
  margin-bottom: 29px;
  transition: all .2s ease-in-out;
}

.socialIcon:hover {
  color: white;
}

.mainHeader {
  max-width: 70%;
}

.cta {
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius);
  display: inline-block;
  transition: all .2s ease-in-out;
}

.cta:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.aboutSkills {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}

.about {
  flex: 1;
  margin-right: 100px;
}

.skills {
  flex: 1;
}

.skillList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 10px;
}

.skill {
  padding: 10px 10px 10px 10px;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  transition: all .2s ease-in-out;
  border: solid var(--light-color);
  border-width: 0;
  border-radius: 5px;
}

.skill:hover {
  border-width: 1px;
}

.portfolios {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.portList {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width:768px) {
  .aboutSkills {
    flex-direction: column;
  }

  .socialGroup {
    display: none;
  }

  .about {
    margin-right: 0;
  }

  .mainHeader {
    max-width: 100%;
  }

  .portList {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}