.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: var(--border-radius);
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.indexNav{
  padding-top: 30px;
  /* background: navy; */
  font-weight: 300;
  text-align: center;
}

.indexUl, .indexLi{
    list-style: none;
    padding: 0;
}

.indexLi{
  display: inline-block;
  margin: 0 20px 0 20px;
}

.indexHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}

.socialGroup{
  display: flex;
  flex-direction: column;
  margin-right: 74px;
  justify-items: center;
  justify-content: center;
}

.socialIcon{
  font-size: 22px;
  margin-bottom: 29px;
}

.mainHeader{
  max-width: 60%;
}

.cta{
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius);
  display: inline-block;
}

.aboutSkills{
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}

.about{
  flex: 1;
  margin-right: 100px;
}

.skills{
  flex: 1;
}

.skillList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 10px;
}

.skill{
  padding: 10px 10px 10px 10px;
  /* border: 1px solid var(--light-color); */
  /* border-radius: 5px; */
  display: inline-block;
  text-align: center;
  font-size: 50px;
}

.portfolios{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.portList{
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

@media (max-width:768px){
  .aboutSkills{
    flex-direction: column;
  }
  .socialGroup{
    display: none;
  }
  .about{
    margin-right: 0;
  }
  .mainHeader{
    max-width: 100%;
  }
}